.main {
   display: flex;
   flex-wrap: wrap;
   justify-content: center;
   align-items: center;
   gap: 15px;
   margin-top: 10px;
   width: 100%;
   padding: 30px;
}

.cards{
   display: flex;
   flex-wrap: wrap;
   justify-content: center;
   align-items: center;
   gap: 15px;
   width: 100%;
}

.load-more-container {
   clear: both;
}

.load-more-container button {
   padding: 10px 20px;
   font-size: 16px;
   background-color: #007bff;
   color: #fff;
   border: none;
   cursor: pointer;
}
