@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
  background: linear-gradient(45deg,#3D3949,#6772A4);
  height: 100vh; /* 100% da altura da viewport */
  width: 100%;   /* 100% da largura disponível */
}